.navbar a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 8px;
    border-radius: 10px;
    margin-left: 50px;
    border: 2px solid lightcoral;
}
.navbar{
    text-align: center;
    background-color: bisque;
    height: 120px;
    border-radius: 0px 0px 15px 15px;
    
}
.navigation a{
    background-color: aquamarine;
    height: 50px;
}
.navigation a:hover{
    background-color: blue;
}
@media (max-width: 750px){
    .navbar a{
        margin-left: 10px;
    }
}
@media (max-width: 450px){
    .navbar a{
        margin-left: 2px;
        padding: 2px;
    }
}